@model BeautySalon.PresentationMVC.Models.UslugaViewModel

@{
    ViewData["Title"] = "Detalji usluge";
}

<h1>Detalji</h1>

<div>
    <dl class="row">
        <dt class="col-sm-2">Naziv</dt>
        <dd class="col-sm-10">@Model.Naziv</dd>

        <dt class="col-sm-2">Opis</dt>
        <dd class="col-sm-10">@Model.Opis</dd>

        <dt class="col-sm-2">Trajanje</dt>
        <dd class="col-sm-10">@Model.Trajanje min</dd>

        <dt class="col-sm-2">Cijena</dt>
        <dd class="col-sm-10">@Model.Cijena €</dd>

        <dt class="col-sm-2">Prikaz</dt>
        <dd class="col-sm-10">@Model.Prikaz</dd>
    </dl>
</div>

<a asp-action="Edit" asp-route-id="@Model.UslugaId" class="btn btn-warning">Uredi</a>
<a asp-action="Index" class="btn btn-secondary">Natrag</a>
